Requirements / MCSW Method:

	Must:
		User Interface
		User Accounts/Authentication
		Media Publication
		Database
		Email services (weekly/daily wrap-ups for publications as well as submission notifications)
		Way to change static information on the website.


	Should:
		Have article searching via(keyword, title, author)
		Have User searching
		Provide Hosting Requirements
		
		
	Could:
		Migrate the Website onto a web server
		Provide Migration Plan
		

	Won't:
		Verify domain availability
		Provide Hosting for the site
		Have individual User posting


Specific Requirements:
	User interaface:
			- login page
			- article submissions page
			- article review page
			- article status page
	Online Journal functions:
			- Users viewing articles
				- Search bar (via keyword, Title, Author)
			- Users submitting articles
			- Admins reviewing articles

Thoughts:
	utilize same system for posterboards and journal articles (just render poster boards separately)
			

Functional Requirements: 
1.	Central repository in the form of a website 
2.	A digital catalog of student research posters (to be accessible in the future) 
3.	 Online academic journal 
	a.	A page for submission (authors portal) 
	b.	A page for review (reviewers portal) 
		i.	Track and monitor progress during the review 
		ii.	A way for them to access the papers and submit their reviews on the individual papers 
		iii.	Editors have a way to give final decisions and contacting authors 
		iv.	Blind reviewing papers- the editor can review everything, but only some comments can be seen by the author
4.	A Publication site where accepted papers can be published 
	a.	An organization/ sorting method of all papers 
		i.	Name, date, category, search bar, etc. 
	b.	FAQ page, resource page, ability to edit future designs (adjust publication page view)
5.	Free to download posters and papers


Non-Functional Requirements: 
1.	Login credentials (UT email) to submit to make sure they’re a student
	a.	Also, to track the review process of the student's paper 
2.	General account to view that you log into 
	a.	Save your comments or posts on individual papers, and maybe also have a favorite or saved section on specific papers or research information. 
3.	Allows for multiple accounts and users on the website at one time 
4.	Takes you to another tab if you’re logging in to submit a paper and keeps you in the same tab/ page if you’re logging in to view the posts and papers 
	a.	Otherwise, it has a general CIRT opening screen about the program and the research they do 
5.	Tracking for paper review progress is updated every 5 seconds and has a visual representation of what stage the paper is at 

Functional Requirements
-	Catalog for posters 
-	Journal papers
-	Editor rights
-	Publication 
-	Editor uploads their edits (in review)
-	Tracking and monitoring (reviewing)
-	Easily accessible 
-	Resources page
-	FAQ page
-	Easy access to edit
-	Utampa email (verification) 
Non-functional Requirements
-	Security (login) separate for when publishing 
-	View all posters published
-	Place to submit posters
-	Search bar
-	Filter key words while searching
-	Option to download (free)
-	Some type of contact for authors and editors


 
